body, html {
    height: 100%;
    margin: 0;
    background: rgba(0, 0, 0, 0.849); /* Noir avec transparence */
    color: #fff; /* Texte blanc si nécessaire */
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    background: #ffffff; /* Fond blanc pour le formulaire pour le rendre visible */
    border-radius: 10px; /* Bords arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre subtile */
}
.vertical-center {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}